Q.1 In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

sol:
*, -, /, +, these are expressions because these are mathematical operators

In [2]:
s='hello'

In [7]:
type(s)

str

In [10]:
f=-87.8

In [12]:
type(f)

float

In [13]:
i=6

In [14]:
type(i)

int

here, 'heelo' -87.8, and 6 are values because these are string and integer

Q.2-  What is the difference between string and variable?

Solution:
variable:- A Variable is a store of information, Variables are symbols that can use to store data in a program, It is reference or pointer to an object,  Once an object is assigned to a variable, we can refer to the object by that name.

string:- A String is a type of information would store in a Variable. A String is usually words, enclosed with "" Eg String x ="Welcome to the world" X is the Variable, and we declared it as a String,

Q.3- different data types

In [16]:
x=10

In [17]:
type(x)

int

In [26]:
a=34.89

In [27]:
type(a)

float

In [28]:
b="hello welcome to the world"

In [29]:
type(b)

str

variable x, a, and b are different data types

x is a intiger, because 10 is whole number
a is a float, because 34.89 is decimal number
b is a string, 	Text - anything between
" "  becomes string

Q.4- What is an expression made up of? What do all expressions do?

Solution:
An expression is a set of operators and operands that are combined to produce a new value. An expression is evaluated in any programming language based on the order of its operators. As a result, if an expression contains multiple operators, the order in which they are executed determines which operation is performed first.
a=2*y+5, here (2*y+5) is a expression

In [3]:
x=40

In [4]:
y=12

In [8]:
add=x+y

In [9]:
print(add)

52

In [10]:
div=x/y

In [11]:
print(div)

3.3333333333333335

In [12]:
a=21

In [13]:
b=13

In [14]:
c=40

In [17]:
d=37

In [18]:
p=(a+b)>=(c-d)

In [20]:
print(p)

True

Q.5- This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Solution:
An expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
Example: x=6, y=4, z=x+y, here x, y, and z are variable, 6 and 4 are values, + and + are operators.
An expression always evalutes to itself.
Example: 
>>> 16
16
>>> a=4 
a
4
>>> a+16    #using Arthmetic expression
20


A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.

Each and every line of code that we write in any programming language is called a statement.

Because, all the lines are executable by the interpreter or the compiler of that programming language.
Example:
>>>spam=10
print(spam)
output:
>>>10   

The first line is an assignment statement that gives a value to x. The second line is a print statement that displays the value of x.

Q.6- After running the following code, what does the variable bacon contain?
bacon=22
bacon+1

In [21]:
bacon=22

In [22]:
bacon+1

23

It gives 23

Q.7- What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [23]:
'spam' + 'spamspam'

'spamspamspam'

In [24]:
'spam' * 3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

sol:
Because variable names cannot begin with a number.

Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
sol:
str()
int()
float()

Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [25]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

This expression causes and error because in this line 'I have eaten' and 'burritos' are strings, while 99 is treated as integer. In order to fix the error and print 'I have eaten 99 burritos.', 99 needs '' around it to treat it as a string.

In [26]:
'I have eaten' + '99' + 'burritos'

'I have eaten99burritos'